    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color:#5c940d">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="#" style="color:#fff; font-weight:bold">Resep App</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="#" style="color:#000; font-weight:bold">Home</a></li> 
                  <li><a href="/resepmu" style="color:#fff">Resepmu</a></li>
                  <li><a href="/signup" style="color:#fff">Sign Up</a></li>
                  <li><a href="/signin" style="color:#fff">Sign In</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Fixed navbar -->


    <header class="header-image" style="padding-top:700px; padding-left:40px; padding-right:40px">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="thumbnail" style="margin-bottom: 60px">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Find trip..  ( eg. Bromo )" style="border-color:#6389a8; color:#6389a8">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" style="color:#6389a8; background-color:#fff; border-color:#6389a8">Search!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container" style="padding-top: 40px">
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img src="./css/img/bromo.jpg" alt="...">
                    <div class="caption" style="color:#6389a8">
                        <p style="margin-top:10px; font-size:17px;"><strong>Gunung Bromo</strong></p>
                        <p style="margin-top:-10px;">Sugiono</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img src="./css/img/balekambang.jpg" alt="...">
                    <div class="caption" style="color:#6389a8">
                        <p style="margin-top:10px; font-size:17px;"><strong>Pantai Balekambang</strong></p>
                        <p style="margin-top:-10px;">Joko</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img src="./css/img/sendangbiru.jpg" alt="...">
                    <div class="caption" style="color:#6389a8">
                        <p style="margin-top:10px; font-size:17px;"><strong>Pantai Sendangbiru</strong></p>
                        <p style="margin-top:-10px;">Suwono</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img src="./css/img/penyu.jpg" alt="...">
                    <div class="caption" style="color:#6389a8">
                        <p style="margin-top:10px; font-size:17px;"><strong>Pulau Penyu</strong></p>
                        <p style="margin-top:-10px;">Andre</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img src="./css/img/kondangmerak.jpg" alt="...">
                    <div class="caption" style="color:#6389a8">
                        <p style="margin-top:10px; font-size:17px;"><strong>Pantai Kondangmerak</strong></p>
                        <p style="margin-top:-10px;">Rendra</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img src="./css/img/pasir-putih.jpg" alt="...">
                    <div class="caption" style="color:#6389a8">
                        <p style="margin-top:10px; font-size:17px;"><strong>Pantai Pasir Putih</strong></p>
                        <p style="margin-top:-10px;">Indra</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img src="./css/img/pasir-putih.jpg" alt="...">
                    <div class="caption" style="color:#6389a8">
                      <p style="margin-top:10px; font-size:17px;"><strong>Pantai Pasir Putih</strong></p>
                      <p style="margin-top:-10px;">Indra</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img src="./css/img/pasir-putih.jpg" alt="...">
                    <div class="caption" style="color:#6389a8">
                      <p style="margin-top:10px; font-size:17px;"><strong>Pantai Pasir Putih</strong></p>
                      <p style="margin-top:-10px;">Indra</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="padding-bottom:300px; padding-top:40px">
          <div class="col-sm-4 col-md-4">
          </div>
          <div class="col-sm-4 col-md-4">
            <button type="button" class="btn btn-primary btn-lg btn-block" style="background-color:#6389a8; border-color:#6389a8;"><span class="glyphicon glyphicon-search"></span> &nbsp;&nbsp;Search Spesifically</button>
          </div>
        </div>

    </div>





    <footer class="footer" style="background-color:#5c940d; height:300px">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <p class="text-muted" style="color:#e9e6e6; font-size:18px; font-weight:bold; ">Kawebe, Inc.</p>
              <hr />
              <p class="text-muted" style="color:#e9e6e6; font-weight:'600';">Kawebe is a travelling guide for any backpacker. We are a must-read guide for any traveller before you go.</p>
              <p class="text-muted" style="color:#e9e6e6; font-weight:'600'; margin-top:-10px"><span class="glyphicon glyphicon-phone"></span> 081290409883</p>
              <p style="font-size:25px; color:#e9e6e6">
                <i class="fa fa-facebook-square" aria-hidden="true" style="margin-right:10px"></i>
                <i class="fa fa-twitter-square" aria-hidden="true" style="margin-right:10px"></i>
                <i class="fa fa-instagram" aria-hidden="true" style="margin-right:10px"></i>
                <i class="fa fa-wordpress" aria-hidden="true" style="margin-right:10px"></i>
              </p>
            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-3" style="margin-top:70px;">
                <ul style="list-style-type: none;">
                  <li style="margin-bottom:3px"><a href="#" style="color:#e9e6e6; text-decoration:none;">About</a></li>
                  <li style="margin-bottom:3px"><a href="#" style="color:#e9e6e6; text-decoration:none">Career</a></li>
                  <li style="margin-bottom:3px"><a href="#" style="color:#e9e6e6; text-decoration:none">Favourite</a></li>
                  <li style="margin-bottom:3px"><a href="#" style="color:#e9e6e6; text-decoration:none">Our Teams</a></li>
                  <li style="margin-bottom:3px"><a href="#" style="color:#e9e6e6; text-decoration:none">Terms of Services</a></li>
                </ul>
            </div>
            <div class="col-sm-4" style="margin-top:70px;">
              <!-- <p class="text-muted">Copyrights 2016 - Kawebe. All Rights Reserved</p> -->
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Email" style="color:#6389a8; border-color:#6389a8">
                <span class="input-group-btn" style="border-color:#6389a8">
                  <button class="btn btn-default" style="color:#6389a8; border-color:#6389a8" type="button">Subscribe</button>
                </span>
              </div><!-- /input-group -->
            </div>
          <div>

        </div>
    </footer>

    <footer class="footer" style="background-color:#6389a8;">
        <div class="container">
            <p class="text-muted" style="color:#fff">Copyrights 2016 - Kawebe. All Rights Reserved</p>
        </div>
    </footer>



    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>





